---
const { content } = Astro.props;
import Header from "../components/Header";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Segzy Communication</title>
	</head>
	<body>
		<h1>Kaytwolea</h1>
		<slot />
	</body>
</html>
